<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notificationMapper">

	<resultMap type="Reply" id="replyResultSet">
		<result column="reply_content" property="replyContent" />
		<result column="member_no" property="replyWriter" />
	</resultMap>
	
	<resultMap type="Notification" id="notificationResultSet">
		<id column="notification_no" property="notificationNo" />
		<result column="notification_content" property="notificationContent" />
		<result column="notification_category" property="notificationCategory" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="member_no" property="memberNo" />
	</resultMap>

	<insert id="insertNotification" parameterType="Notification">
		insert
		  into notification
		  (
		     notification_no
		   , notification_content
		   , notification_category
		   , member_no  
		  )
		  values
		  (
		  	 seq_notificationno.nextval
		   , #{notificationContent}
		   , #{notificationCategory}
		   , #{memberNo}
		  )
	</insert>
	
	<select id="selectReplyContent" parameterType="_int" resultMap="replyResultSet">
		select
		       substr(reply_content, 0, 10) as reply_content
		     , member_no
		  from reply
		 where reply_no = #{rno}
	</select>
	
	<select id="selectFriendList" parameterType="_int" resultType="_int">
		select
		       friend_owner
		  from friend
		 where friend_accepted = #{loginUserNo}
		   and friend_status = 'Y'
		 union
		select
		       friend_accepted
		  from friend
		 where friend_owner = #{loginUserNo}
		   and friend_status = 'Y'
	</select>
	
	<select id="selectNotificationList" parameterType="_int" resultMap="notificationResultSet">
		select
		       notification_no
		     , notification_content
		     , notification_category
		     , trunc(mod((sysdate-create_date)*24*60, 60)) as create_date
		  from notification
		 where member_no = #{loginUserNo}
		   and status = 'Y'
		 order
		    by notification_no desc
	</select>
	
	<update id="deleteNotification" parameterType="_int">
		delete
		  from notification
		 where notification_no = #{notificationNo}
	</update>
	
	<select id="findFriendOwnerNo" parameterType="_int" resultType="_int">
		select 
		       friend_owner
		  from friend
		 where friend_no = #{friendNo}
	</select>
	

</mapper>
